/* 预置样式
************************************************** */
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    letter-spacing: 1px;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    outline: 0;
    width: 100%;
    display: block;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 0;
    border: 1px solid #ccc;
    color: #555;
    transition: all .4s ease-out;
}

input:focus {
    border: 1px solid #ff8000;
}

.btn, .btn:hover {
    padding: .5rem 1rem;
    border-radius: 4px;
    color: #fff;
    background-color: #ff8000;
    display: inline-block;
}

.form p + p {
    margin-top: 1rem;
}

.form label {
    margin-bottom: .5rem;
    display: block;
    font-weight: 600;
}

.hide {
    display: none;
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
}

.container:after {
    clear: both;
    display: block;
    content: '';
}

.row {
    margin: 0 -1rem;
}

.row:after {
    display: block;
    content: "";
    clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .col-1 {
        width: 8.33333333%;
    }

    .col-2 {
        width: 16.66666667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33333333%;
    }

    .col-5 {
        width: 41.66666667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33333333%;
    }

    .col-8 {
        width: 66.66666667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33333333%;
    }

    .col-11 {
        width: 91.66666667%;
    }

    .col-12 {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }
}

/*
************************************************** */
